Style.css
* {
    box-sizing: border-box;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 30px;
    font-weight: 500, bold;
    color: #202124;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.card-container {
    background-color: white;
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 1500px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.info-item {
    border-bottom: 1px solid #f1f3f4;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.info-label {
    font-size: 12px;
    color: #1a73e8;
    font-weight: 500;
    margin-bottom: 4px;
    text-align: left;
}

.info-value {
    font-size: 16px;
    color: #202124;
    min-height: 24px;
}

.info-item input {
    border: none;
    border-bottom: 1px solid transparent;
    padding: 2px 0;
    font-size: 16px;
    color: #202124;
    width: 100%;
    background: transparent;
    transition: border-bottom 0.3s ease;
}

.info-item input:focus {
    outline: none;
    border-bottom: 2px solid #1a73e8;
}


.button-group {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.button {
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 24px;
    cursor: pointer;
    border: none;
    transition: 0.2s;

}

.button-primary {
    background-color: #1a73e8;
    color: white;
    box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3);
}

.button-primary:hover {
    background-color: #1765cc;
    box-shadow: 0 4px 8px rgba(60, 64, 67, 0.2);
}

.button-reset {
    background-color: white;
    color: #5f6368;
    border: 1px solid #dadce0;
}

.button-reset:hover {
    background-color: #f1f3f4;
    border-color: #d2d4d7;
}

th {
    background-color: #f1f3f4;
    padding: 16px 45px;
    font-size: 15px;
    font-weight: 500;
    color: #202124;
    white-space: nowrap;
}

td {
    padding: 16px ;
    font-size: 15px;
    color: #202124;
    font-weight: 500;
    border-bottom: 1px solid #f1f3f4;
   text-align: left;                                                
}

.ProductImage {
    width: 400px;
    height: fit-content;
    border-radius: 4px;
    display: block;
    margin-right: 0%;
    margin-bottom: 20px;
}

.image-link {
    display: inline-block;
    text-decoration: none;
    margin: 10px;
}

.image-link:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.FurnitureName{
    display: block;
    text-align: center;
    font-size: 20px;
    color: #202124;
}

